<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- reply symbol in unicode:
&#x2BA1
&#x21AA
-->
<span th:fragment="comment-header (comment)" th:id="|#${comment.id}|">
    <span>id:&nbsp;</span>
    <a th:href="|@{/list-tree-view}?root-id=${comment.id}|" th:text="${comment.id}"
       class="button" title="make root"></a>
    <a th:href="|@{/reply}?parent-id=${comment.id}&?root-id=${rootId}&max-depth=${maxDepth}&page-size=${pageSize}|"
       title="reply" class="commentheader button">&#x2BA1</a>
    <a class="commentheader button" title="like" th:href="@{/list-tree-view}">&#x1F44D</a>
    <span th:text="|${comment.up}&nbsp;|"></span>
    <a class="button" title="dislike" th:href="@{/list-tree-view}">&#x1F44E</a>
    <span th:text="|${comment.dw}&nbsp;|"></span>
</span>

<span th:fragment="parent">
    <span class="caret" title="open/close"></span>
    <span th:replace="~{:: comment-header (${comment})}"></span>
    <div class="parent comment" th:utext="${comment.textContent}"></div>
    <ul class="nested">
        <li th:each="comment : ${comment.children}">
            <span th:replace="(${#lists.isEmpty(comment.children)}) ?
                ~{:: child} : ~{:: parent}"></span>
        </li>
    </ul>
</span>

<span th:fragment="child">
    <span class="childcaret">&#x25B6</span>
    <span th:replace="~{:: comment-header (${comment})}"></span>
    <div class="child comment" th:utext="${comment.textContent}"></div>
</span>

</body>
</html>