<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Treeter</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tree-style.css}" />
</head>
<body>

<div class="header">
    <a class="headerlogo" th:href="@{/list-tree-view}">
        <img th:src="@{/img/treeter-logo-small.png}"  alt="treeter logo" height="22px" />
    </a>
    <span class="rightheadermenu" th:text="${user} == null ? _ : |Signed in as: ${user}|">
        <a class="headerlink" href="/oauth2/authorization/github">Sign in with Github</a>
    </span>
</div>

<div class="body">

<p class="gotoparent" th:if="${rootParent}">
    <a class="button" title="go to parent"
       th:href="|@{/list-tree-view}?root-id=${rootParent}|">&#x2BA4</a>
    Go to parent
</p>

<ul class="tree">
    <li>
        <span class="caret root" title="open/close"></span>
        <span th:replace="~{comment-fragments :: comment-header (${rootComment})}"></span>
        <div class="parent comment" th:utext="${rootComment.textContent}"></div>
        <ul class="nested">
            <li th:each="comment : ${rootComment.children}">
                <span th:replace="(${#lists.isEmpty(comment.children)}) ?
                    ~{comment-fragments :: child} : ~{comment-fragments :: parent}"></span>
            </li>
        </ul>
    </li>
</ul>

</div>

<br/><br/><br/>

<script type="text/javascript" th:src="@{/js/toggler.js}"></script>

</body>
</html>
