<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>basic front</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/tree-style.css}" />
</head>
<body>

<div>
<ul class="tree">
    <li>
        <span class="caret root" title="open/close"></span>
        <span th:replace="~{comment-fragments :: comment-header (${rootComment})}"></span>
        <div class="parent comment" th:utext="${rootComment.textContent}"></div>
        <ul class="nested">
            <li th:each="comment : ${rootComment.children}">
                <span th:replace="(${#lists.isEmpty(comment.children)}) ?
                    ~{comment-fragments :: child} : ~{comment-fragments :: parent}"></span>
            </li>
        </ul>
    </li>
</ul>
</div>

<script type="text/javascript" th:src="@{/toggler.js}"></script>

</body>
</html>
