<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>reply form</title>
</head>
<body>

<form action="#" th:action="|@{/reply}|"
      th:object="${newComment}" method="post">
    <input type="hidden" th:field="*{parentId}" />
    <input type="hidden" th:field="*{rootId}" />
    <input type="hidden" th:field="*{maxDepth}" />
    <input type="hidden" th:field="*{pageSize}" />
    <table>
        <tr th:if="${errors}"><td>Invalid input, please try again.</td></tr>
        <tr><td>To:</td><td><a th:href="|@{/list-tree-view}?root-id=*{parentId}|" th:text="*{parentId}"></a></td></tr>
        <tr><td>CC (use ';' as separator):</td><td><input type="text" pattern="[0-9;\s]+" maxlength="256" th:field="*{stepParents}" /></td></tr>
        <tr><td>Comment:</td><td><textarea cols="50" rows="10" autofocus maxlength=1024 th:field="*{textContent}"></textarea></td></tr>
        <tr><td><button type="submit">Submit</button></td></tr>
    </table>
</form>

</body>
</html>